<mat-card id="card" style="text-align: center;" class="login-card">
    <mat-card-title>
        Login
    </mat-card-title>

    <mat-card-content>
        <form novalidate [formGroup]="loginForm">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="hasError('username', 'required')">UserName is required</mat-error>
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field><br />
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="20px"
                style="display:flex;justify-content:center;align-items:center;">
                <button mat-raised-button (click)="login()" color="primary">Login</button>
                <button mat-raised-button (click)="register()" color="primary">Register</button>
            </div>
        </form>
    </mat-card-content>